[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = { extras = ['socks'] }
twine = "*"
pytest = "*"
requests-html = "*"
flask = "*"
flasgger = "*"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.6"
