[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
twine = "*"
pytest = "*"
requests-html = "*"
flask = "*"
flasgger = "*"
docopt = "*"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.6"
