appdirs==1.4.3
docopt==0.6.2
atomicwrites==1.2.1; python_version != '3.3.*'
attrs==18.2.0
beautifulsoup4==4.6.3
bleach==3.0.2
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
click==7.0; python_version != '3.3.*'
cssselect==1.0.3; python_version != '3.1.*'
docutils==0.14
fake-useragent==0.1.11
flasgger==0.9.1
flask==1.0.2
idna==2.7
itsdangerous==1.1.0; python_version != '3.3.*'
jinja2==2.10; python_version != '3.3.*'
jsonschema==2.6.0
lxml==4.2.5
markupsafe==1.1.0; python_version != '3.3.*'
mistune==0.8.4
more-itertools==4.3.0
parse==1.9.0
pkginfo==1.4.2
pluggy==0.8.0; python_version != '3.3.*'
py==1.7.0; python_version != '3.3.*'
pyee==5.0.0
pygments==2.2.0
pyppeteer==0.0.25; python_version != '3.1.*'
pyquery==1.4.0
pytest==3.10.0
pyyaml>=4.2b1
readme-renderer==24.0
requests-html==0.9.0
requests-toolbelt==0.8.0
requests==2.20.0
six==1.11.0
tqdm==4.28.1; python_version != '3.1.*'
twine==1.12.1
urllib3>=1.24.2; python_version < '4'
w3lib==1.19.0
webencodings==0.5.1
websockets==7.0; python_version >= '3.4'
werkzeug==0.14.1
